@import "tailwindcss";

@font-face {
  font-family: 'UthmanicHafs';
  src: url('/fonts/KFGQPCUthmanicScript.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/jetbrains-mono-latin-400-normal.woff2') format('woff2');
}

@layer base {
  body {
    @apply bg-[rgb(22,23,24)] text-[rgb(252,252,252)] overflow-x-hidden; 
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  }
}

body, a, button, div {
  cursor: url(./assets/pointer.svg) 2 2, auto;
}

.font-arabic {
  font-family: "UthmanicHafs", "Traditional Arabic", serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(22, 22, 24);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}