@import "tailwindcss";

@layer base {
  body {
    @apply bg-[rgb(22,23,24)] text-[rgb(252,252,252)] overflow-x-hidden; 
  }
}

body, a, button, div {
  cursor: url(./assets/pointer.svg) 2 2, auto;
}

.font-arabic {
  font-family: "Amiri", "Traditional Arabic", serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(22, 22, 24);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}